<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="layout :: htmlhead">
</head>

<body>
    <nav th:replace="layout :: menu">(menu)</nav>
    <main class="container">
        <a th:href="@{/consulta/novo}" class="btn btn-primary">Novo</a>
        <table class="table" id="tabconsultas" >
            <thead>
                <tr>
                    <th>Consulta</th>
                    <th>Data da Consulta</th>
                    <th>Descrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="umaConsulta : ${listaCosultas}">
                    <td th:text="${umaConsulta.nomeConsulta}"></td>
                    <td th:text="${umaConsulta.dataConsulta}"></td>
                    <td th:text="${umaConsulta.descricao}"></td>
                    <td><a class="btn btn-secondary" th:href="@{'/consulta/alterar/' + ${umaConsulta.id}}">Alterar</a>
                    <button class="btn btn-danger js-delete" 
                        th:data-id="${umaConsulta.id}">
                        Excluir
                    </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <div class="modal" tabindex="-1" role="dialog" id="modalconsulta">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Excluir consulta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Confirma a exclusão da consulta?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnnao">Não</button>
                    <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
                </div>
            </div>
        </div>
    </div>
    <div th:include="layout :: footer">(footer)</div>
    <script th:src="@{/consulta.js}" ></script>
</body>

</html>